body {

    background-color: #F3FFF0;

    text-align: center;

    font-family: "Microsoft YaHei";

    color: #5B6650;

}


h1 {

    color: #78B66A;

    font-size: 45px;

    margin-top: 100px;

}


p {

    font-size: 20px;

    line-height: 2;

}

button {

    background-color: #89C77A;

    color:white;

    border:none;

    padding:15px 40px;

    border-radius:30px;

    font-size:20px;

    cursor:pointer;

}


button:hover {

    background-color:#6FAE62;

}
.flower-box{

display:flex;

justify-content:center;

gap:20px;

margin:30px 0;

}



.flower-box button{

font-size:22px;

width:120px;

height:120px;

}



.flower-box button:hover{

transform:scale(1.1);

}
.city-box{

display:flex;

justify-content:center;

gap:20px;

margin:30px 0;

}



.city-box button{

font-size:22px;

width:120px;

height:120px;

}



.city-box button:hover{

transform:scale(1.1);

}
.travel-box{

display:flex;

justify-content:center;

gap:20px;

margin:30px 0;

}



.travel-box button{

font-size:22px;

width:120px;

height:120px;

}



.travel-box button:hover{

transform:scale(1.1);

}
.ticket-box{

display:flex;

justify-content:center;

gap:20px;

margin:30px 0;

}



.ticket-box button{

font-size:22px;

width:120px;

height:120px;

}



.ticket-box button:hover{

transform:scale(1.1);

}
.photo-box{


display:flex;


justify-content:center;


gap:15px;


flex-wrap:wrap;


margin:30px 0;


}




.photo-box button{


font-size:22px;


width:110px;


height:110px;


}




.photo-box button:hover{


transform:scale(1.1);


}
textarea.answer-box{

resize:none;

height:120px;

padding:15px;

}
.stream-box{


display:flex;


justify-content:center;


gap:20px;


margin:30px 0;


}




.stream-box button{


font-size:22px;


width:120px;


height:120px;


}




.stream-box button:hover{


transform:scale(1.1);


}
.role-box{


display:flex;


justify-content:center;


gap:20px;


margin:30px 0;


}




.role-box button{


font-size:22px;


width:120px;


height:120px;


}




.role-box button:hover{


transform:scale(1.1);


}
.password-box{

font-size:45px;

margin:30px;

color:#78B66A;

letter-spacing:10px;

}
.memory-box{

font-size:25px;

line-height:2;

margin:30px;

color:#78B66A;

}
.final-box{

text-align:center;

}



.envelope{

font-size:80px;

cursor:pointer;

margin:40px;

animation:float 2s infinite;

}



.letter{

display:none;

background:#fffdf5;

padding:30px;

border-radius:20px;

line-height:2;

text-align:left;

}



@keyframes float{


0%{

transform:translateY(0);

}


50%{

transform:translateY(-15px);

}


100%{

transform:translateY(0);

}


}
.final-box{

text-align:center;

}



.pachacco{

width:120px;

margin:20px;

}



.envelope{

font-size:90px;

cursor:pointer;

animation:float 2s infinite;

}



@keyframes float{


50%{

transform:translateY(-15px);

}


}




.letter{

display:none;

background:#fffdf5;

padding:30px;

border-radius:20px;

line-height:2;

text-align:left;

}



.ending{

display:none;

text-align:center;

font-size:25px;

margin-top:40px;

}




.flower{

position:fixed;

top:-20px;

font-size:25px;

animation:fall linear infinite;

}



@keyframes fall{


to{

transform:translateY(100vh)
rotate(360deg);

}


}